---
import ContentWrapper from "../shared/ContentWrapper.astro";

// type Props = HomeHeroSection;

// import type { HomeHeroSection } from "../../../sanity.types";
// import { urlForImage } from "../../lib/urlForImage";
// import { getImageDimensions } from "../../lib/getImageDimensions";
// import { Image } from "astro:assets";

// const { textDescription, textHighlighted, actionButtons, image } = Astro.props;
const { title } = Astro.props;
---

<section>
  <!-- <Image
    class="hero-image"
    src={urlForImage(image.asset).url()}
    width={getImageDimensions(image).width}
    height={getImageDimensions(image).height}
    alt={image.alt}
  /> -->

  <ContentWrapper>
    <h2>{title}</h2>
  </ContentWrapper>
</section>

<style>

</style>
